AZURE_SPEECH_KEY=tu_clave_de_azure_aqui
AZURE_SPEECH_REGION=eastus
AZURE_SPEECH_VOICE=es-MX-JorgeNeural
SPEECH_RECOGNITION_LANGUAGE=es-MX

# Obtén tu Access Key gratis en https://console.picovoice.ai
PICOVOICE_ACCESS_KEY=tu_access_key_de_picovoice_aqui
